<div class="btn-group" role="group" ...attributes>
  <button
    data-test-weapon-button="e"
    type="button"
    onclick={{transition-to (query-params weapon="e")}}
    class="btn btn-light {{if (eq @weapon "e") "active"}}"
  >
    {{t "weapon.epee"}}
  </button>

  <button
    data-test-weapon-button="f"
    type="button"
    onclick={{transition-to (query-params weapon="f")}}
    class="btn btn-light {{if (eq @weapon "f") "active"}}"
  >
    {{t "weapon.foil"}}
  </button>

  <button
    data-test-weapon-button="s"
    type="button"
    onclick={{transition-to (query-params weapon="s")}}
    class="btn btn-light {{if (eq @weapon "s") "active"}}"
  >
    {{t "weapon.sabre"}}
  </button>
</div>
