<div ...attributes>
  {{#if (not-eq @season this.defaultSeason)}}
    <button
      class="btn btn-light"
      onclick={{transition-to (query-params season=this.defaultSeason)}}
    >
      {{t "season.current"}}
    </button>
  {{/if}}

  <select
    data-test-season-filter
    class="form-control form-control-sm"
    onchange={{action select value="target.value"}}
  >
    {{#each this.seasons as |season|}}
      <option selected={{eq season.value @season}} value={{season.value}}>
        {{season.name}}
      </option>
    {{/each}}
  </select>
</div>
