<BsDropdown class="season-dropdown btn-group" as |dd|>
  <dd.toggle
    data-test-season-filter
    class="season-toggle {{if (not-eq @season this.defaultSeason) "xtext-primary"}}"
  >
    {{this.selectedSeason.name}}
  </dd.toggle>

  <dd.menu @align="right" as |ddm|>
    {{#each this.seasons as |season|}}
      <ddm.item>
        <a
          class="dropdown-item"
          href="#"
          {{action (transition-to (query-params season=season.value))}}
        >
          {{#if (eq season.value @season)}}
            <strong>{{season.name}}</strong>
          {{else}}
            {{season.name}}
          {{/if}}
        </a>
      </ddm.item>
    {{/each}}
  </dd.menu>
</BsDropdown>

<BsButtonGroup class="seasons btn-group-toggle" ...attributes>
  <button
    type="button"
    class="btn btn-light"
    disabled={{not this.previousSeason}}
    onclick={{action selectPrevious}}
  >
    {{fa-icon "arrow-left"}}
  </button>

  <button
    type="button"
    class="to-current-season {{if (not-eq @season this.defaultSeason) "--highlight"}}"
    disabled={{eq @season this.defaultSeason}}
    onclick={{transition-to (query-params season=this.defaultSeason)}}
  >
    {{t "season.current"}}
  </button>

  <button
    type="button"
    class="btn btn-light"
    disabled={{not this.nextSeason}}
    onclick={{action selectNext}}
  >
    {{fa-icon "arrow-right"}}
  </button>
</BsButtonGroup>
